<html>
<head>
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

<div class="ui secondary pointing menu">
    <a class="active item" href="/">
        Home
    </a>
    <a class="item">
        Messages
    </a>
    <a class="item">
        Friends
    </a>
    <a href="/new" class="ui orange button large">Add Your Recipe</a>
    <div class="right menu">
        <a class="ui item">
            SignUp
        </a>
        <a class="ui item">
            Login
        </a>
        <a class="ui item">
            Logout
        </a>
    </div>
</div>


